# === BYGGEDATA ===
builddir/              # Hele builddir-mappa ignoreres

# === VSCode ===
.vscode/               # Brukerspesifikke editorinnstillinger

# === Python-cache ===
__pycache__/
*.pyc

# === TDT4102-prosjektmal-filer ===
subprojects/*
!subprojects/animationwindow/
.clangd               # LSP-config fra NTNU-template
compile_commands.json # Autogenerert av Meson/Clang

# === Binærfiler og linker ===
*.exe
*.o
*.obj
*.a
*.dll
*.so

# === Diverse midlertidig ===
*.log
*.tmp

# === Egendefinerte nøkler eller sensitive filer ===
ocracle-*.json
scripts/t5_finetuned_task/
